# *Python Data Structure- Module 4* *(Theory)*

1.	What are data structures, and why are they important?

  Ans: Data structures are ways of organizing, managing, and storing data so that it can be accessed and modified efficiently. They define the layout for how data is stored and provide operations for processing that data. In Python data structure can be built-in and User-defined.

  Data Structures are important as-

  Efficient Data Handling: They help store and manage data easily.

  Better Performance: The right structure makes your code faster and more memory-efficient.

  Cleaner Code: Built-in structures like lists and dicts make code easier to write and understand.

  Solves Complex Problems: Advanced structures like trees or graphs are key for tasks like searching or routing.

  Supports Algorithms: Algorithms rely on data structures. Picking the right one makes them work better.

2. Explain the difference between mutable and immutable data types with examples.

  Ans: Mutable data types can be changed after creation — you can modify their content without changing their identity. Whereas, Immutable data types cannot be changed after creation — any modification creates a new object.

  Example of Mutable Data type:

  a= [2,4,6,8]

  a[1]= 5

  a (ctrl+Enter)

  [2, 5, 6, 8]

  Example of Immutable Data type:

  b=("Sweta", "Singh")

  b[0]= "Singh"(ctrl+enter)

  TypeError Traceback (most recent call last) /tmp/ipython-input-2-4023210974.py in <cell line: 0>()

  1 b=("Sweta", "Singh")

  ----> 2 b[0]= "Singh"

  TypeError: 'tuple' object does not support item assignment

  It’ll throw error as element into “Tuple” cannot get changed.

3. What are the main differences between lists and tuples in Python?

  Ans: **The main differences between lists and tuples in Python are:**

    

*   Mutability: Lists are mutable (can be changed), tuples are immutable (cannot be changed).
*   Syntax: Lists use square brackets [], tuples use parentheses ().


*   Methods: Lists have more built-in methods (e.g., append(), remove()), tuples have fewer.
*   Performance: Tuples are faster and use less memory than lists.

*   Use Case: Use lists for modifiable data, and tuples for fixed or read-only data.

4. Describe how dictionaries store data.

  Ans: In Python, dictionaries store data as key-value pairs. Each key maps to a specific value, and this mapping is stored in an efficient structure called a hash table. Keys must be unique and immutable (e.g., strings, numbers, tuples)and Values can be of any data type and can repeat.

5. Why might you use a set instead of a list in Python?

  Ans: **You might use a set instead of a list in Python 3 for these main reasons:**

*   No Duplicates Allowed-  
Sets automatically remove duplicate values.


*  Faster Membership Testing-  

  Checking if an item exists in a set is much faster (average O(1)) than in a list (O(n)).

*  Unordered Collection-   
If order doesn't matter and you only care about unique items, a set is more efficient.

6. What is a string in Python, and how is it different from a list?

  Ans: A string in Python is a sequence of characters, used to represent text. It's defined using quotes.
  
  e.g - "Hello"

  String is different than list in many ways. Such as -



*   Data Type: A string hold only characters, whereas a list can hold any data type.
*   Mutability: Strings are immutable but lists are mutable.


*   Syntax: Strings use quotes: "hello" but Lists use square brackets: ['h', 'e', 'l', 'l', 'o'].

7. How do tuples ensure data integrity in Python?

  Ans: Tuples ensure data integrity in Python by being immutable, meaning their values cannot be changed after creation. This helps protect data from accidental modification.

8. What is a hash table, and how does it relate to dictionaries in Python?

  Ans: A hash table is a data structure that stores key-value pairs and allows for fast access, insertion, and deletion of data. It uses a hash function to compute an index (also called a hash code) into an array of buckets or slots, from which the desired value can be found.

  In Python, a dictionary (dict) is a fast and efficient way to store key-value pairs because it uses a hash table internally. Each key is processed using the built-in hash() function, which generates a number that determines where the value is stored in memory. This allows for quick access, insertion, and deletion—usually in constant time. However, only immutable types like strings, numbers, or tuples with unchangeable contents can be used as keys, because they need to be hashable.

9. Can lists contain different data types in Python?

  Ans: Yes, lists in Python can contain different data types. A single list can hold a mix of integers, strings, floats, other lists, or even custom objects. For example-

  My_List= [1, 2, 10,45, "Hello", False]

10.  Explain why strings are immutable in Python.

  Ans: Strings are made immutable in Python to ensure they are safe, fast, and reliable. Because their content cannot change, strings can be safely used as keys in dictionaries and elements in sets, which require values that stay the same (hashable). Also, it makes code more predictable and less error-prone, as you don’t have to worry about a string being accidentally changed somewhere else in your program.

11. What advantages do dictionaries offer over lists for certain tasks?

  Ans: Dictionaries offer several advantages over lists for certain tasks in Python -

*   Key-Value Pairing: Dictionaries store data in key-value pairs, making it easier to organize and understand related data (e.g., a person's name and age).
*   More Readable Code: You can access values using meaningful keys (like person["name"]) instead of remembering positions like person[0] in a list.


*   Faster Lookups: Dictionaries allow you to access values by keys in constant time, while lists require a search through elements.
*  Automatic Uniqueness: Dictionary keys are always unique, which helps avoid duplication errors.

*   Ideal for Mappings: When you need to map one set of values to another (e.g., student IDs to names), dictionaries are more efficient and intuitive than lists.

12.  Describe a scenario where using a tuple would be preferable over a list.

  Ans:  A tuple is preferable over a list when you want to store a fixed set of values that are not meant to change throughout the program. Tuples are immutable, meaning once they are created, their contents cannot be modified. This makes them useful for storing constant data like dates, coordinates, or configuration settings, where accidental changes should be avoided. Using tuples also signals to other programmers that the data is read-only, improving code clarity and safety. Additionally, tuples are faster and more memory-efficient than lists, making them a good choice when performance matters and the data is static.

13. How do sets handle duplicate values in Python?

  Ans: In Python, sets are designed to store only unique values, which means they automatically remove any duplicates. When you create a set or add elements to it, Python checks each item and ensures that only one instance of each value is kept.This behavior makes sets ideal for situations where you want to eliminate duplicates from a collection or ensure that all elements are distinct, such as finding unique words in a text or filtering repeated entries from a list.

14. How does the “in” keyword work differently for lists and dictionaries?

  Ans: n a list, the in keyword checks whether a specific value exists in the list by scanning each element one by one. For example, 'apple' in ['apple', 'banana'] returns True because the value 'apple' is present.

  In a dictionary, the in keyword checks whether a specific key exists, not the value. For example, 'name' in {'name': 'Alice', 'age': 25} returns True, but 'Alice' in {'name': 'Alice', 'age': 25} returns False because 'Alice' is a value, not a key.

15. Can you modify the elements of a tuple? Explain why or why not?

  Ans: No, you cannot modify the elements of a tuple in Python. This is because tuples are immutable, meaning their contents cannot be changed after they are created. Once a tuple is defined, you cannot- Change an element, add new elements or remove an element.

  This immutability is intentional—it helps ensure data integrity, makes tuples hashable (so they can be used as dictionary keys or set elements), and allows for better performance and memory efficiency compared to lists.

16. What is a nested dictionary, and give an example of its use case?

  Ans: A nested dictionary in Python is a dictionary inside another dictionary. It allows you to store structured or hierarchical data, where each key maps to another dictionary as its value. For example:


    student = {

      "name": "Henry",
      "grades": {
          "math": 90,
          "science": 85,
          "english": 88
       },
      "age": 16
    }

  
  Use Case:

  Nested dictionaries are useful when you want to represent complex data structures like: A student's profile with subjects and grades, Employee records with department info e.t.c. They help organize related data in a clear, logical format, making it easier to access and manage. For instance, to get Henry’s math grade -

      print(student["grades"]["math"]) # The output will be 90

17. Describe the time complexity of accessing elements in a dictionary.

  Ans: The time complexity of accessing elements in a dictionary in Python is O(1) on average, which means it takes constant time regardless of the size of the dictionary. Python dictionaries are implemented using hash tables. When you access a value using a key -

*   The key is hashed using the hash() function.

*   The hash value is used to directly locate the value in memory.

18. In what situations are lists preferred over dictionaries?

  Ans: Lists are better than dictionaries in these situations -

*   When the order of items matters (like steps in a process).
*   When you just need a simple collection of values (like a list of names).

*   When you want to allow duplicates.
*   When you want to access items by their position (index), like my_list[0].

*   When the data is small and doesn’t need labels or keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  Ans: Dictionaries were once considered unordered because, before Python 3.7, they didn’t keep the order in which items were added. Now, from Python 3.7 onward, they do keep that order, but they are still mainly used for fast access by key, not for handling order like a list.

  How it affects data retrieval:


*   You can quickly get a value if you know the key.
*   But you can’t get items by position (like first or last) as easily as you can with a list.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.

  Ans: The main difference between a list and a dictionary in terms of data retrieval is how you access the data -


*   List: You retrieve data using a numeric index. The position matters, and items are accessed like my_list[0]. For Example -
      my_list = ['apple', 'banana', 'cherry']

      print(my_list[1])  # Output: banana

*   Dictionary: You retrieve data using a unique key. The position doesn't matter, and items are accessed like my_dict['fruit'].
For Example -
      my_dict = {'fruit': 'banana', 'color': 'yellow'}

      print(my_dict['fruit'])  # Output: banana

# ***Practical***

1. Write a code to create a string with your name and print it.

In [1]:
Name = "Sweta Singh"
print (Name)

Sweta Singh

2. Write a code to find the length of the string "Hello World".

In [2]:
x = "Hello World"
len(x)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
y = "Python Programming"
y[:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase.

In [5]:
a = "hello"
a.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
x = "I like apple"
x.replace("apple", "orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
y = [1,2,3,4,5]
print(y)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [8]:
a = [1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [9]:
b = [1,2,3,4,5]
b.remove(3)
print(b)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [10]:
a = ["a","b","c","d"]
P = a[1]
print(P)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
x = [10,20,30,40,50]
x.reverse()
print(x)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
b = (100,200,300)
print(b)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
v = ('red', 'green', 'blue', 'yellow')
print(v[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
g = (10,20,5,15)
print(min(g))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
g = ('dog', 'cat', 'rabbit')
print(g.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
a = ("mango", "kiwi", "banana")
"kiwi" in a

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [20]:
A = {"a","b","c"}
print(A)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [21]:
A = {1,2,3,4,5}
A.clear()
print(A)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [22]:
A = {1,2,3,4}
A.remove(4)
print(A)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [23]:
A = {1,2,3}
B = {3,4,5}
print(A.union(B))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [24]:
A = {1, 2, 3}
B = {2, 3, 4}
print(A.intersection(B))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [25]:
person= {'name': 'Roxy', 'age': 25, 'city': 'London'}
print(person)

{'name': 'Roxy', 'age': 25, 'city': 'London'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [26]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [27]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [28]:
person = {'name': 'Bob', 'age': 22}
del person["age"]
print(person)

{'name': 'Bob'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [29]:
person={"name": "Alice", "city": "Paris"}

"city" in person

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [31]:
#List
a = [1,2,3,4]
#tuple
b = (1,2,3,4)
#dictionary
c = {1:"a", 2:"b", 3:"c"}
print(a)
print(b)
print(c)

[1, 2, 3, 4]
(1, 2, 3, 4)
{1: 'a', 2: 'b', 3: 'c'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.

In [33]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [7, 26, 36, 62, 86]

28. Write a code to create a list with strings and print the element at the third index.

In [34]:
a = ["Bat", "Bowl", "wicket"]
print(a[2])

wicket

29. Write a code to combine two dictionaries into one and print the result.

In [35]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [36]:
string_list = ['apple', 'banana', 'cherry', 'apple', 'banana']

string_set = set(string_list)

print(string_set)

{'apple', 'cherry', 'banana'}